@if (isAddingTask) {
<app-new-task [userId]="userId" (close)="onCloseTask()" />
}

<section id="tasks">
  <header>
    <h2>{{name}}' Tasks</h2><!--to show the name-->
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>

   @for (task of selectedUserTask; track task.id) {
    <li>
    <app-task [task]="task" (complete)="onCompleteTask($event)"/><!--listen to the event complete here and define a method in parent class for that-->
    </li>
    }
  </ul>
</section>
